*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:  #ecf0f1;
}

body {
    font-family: 'Dosis';
}

header {
    width: 100%;
    background: white;
    display: grid;
    grid-template-columns: 25% 40% 35%;
    grid-template-rows: 1.5cm;

}

.grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1.5cm;
    
}

.grid div {
    background: white;
    padding: 0.25cm;
}

.grid div:hover {
    border: 1px #f1c40f;
}

.imagen-menu {
    background: white;
    margin-bottom: 10px;
     width: 25px;
     height: 25px;
    /* margin-bottom: 10%;*/
     margin-top: 10px;
}

.imagen-in  {
    background: white;
    justify-self: flex-end;
    padding: 10px 0 5px 0;
}

.search {
    background: white;
    justify-self: center;
    padding: 10px 0 5px 0;

}

nav {
    justify-self: left;
}